{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block extraCSS %}{% endblock %}
</head>

<body>
{% include 'particles/header.html' %}
{% block content %}{% endblock %}

{% include 'particles/auth_popup.html' %}

<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/auth.js' %}"></script>

{% block extraJS %}{% endblock %}

</body>
</html>

