{% load static %}
<header>
    <!-- Logo Section -->
    <div class="logo-section">
        <a href="/home/">
        <img src="{% static 'images/logo.png' %}" alt="Site Logo">
        </a>
    </div>

    <!-- Navigation Section -->
    <nav class="nav-section">
        <a href="/home/">Kartım</a>
        <a href="/team/">Takımlar</a>
        <a href="/field/">Sahalar</a>
        <a href="/reservation/">Rezervasyonlar</a>
    </nav>

    <!-- Action Section -->
    <div class="action-section">
        <button>Giriş Yap</button>
        <img src="{% static 'images/profile.png' %}" alt="Profile">
    </div>
</header>

</body>

</html>