{% load static %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="">Kartım</a></li>
                <li><a href="/team/">Takımlar</a></li>
                <li><a href="/field/">Sahalar</a></li>
                <li><a href="/reservation/">Rezervasyonlarım</a></li>
            </ul>
        </nav>
        <div class="login-button">
            <button>Log In</button>
        </div>
    </div>
</header>