{% extends 'base.html' %}
{% load static %}
{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'css/team/team_main.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="left-div">
            <h2>Takım</h2>
            <div id="layoutPreview"></div>
            <div class="edit-button" onclick="openPopup()">Düzenle</div>
        </div>
        <img src="{% static 'images/line.png' %}" alt="Line" class="divider-image">
        <div class="right-div">
            <div class="bekleyen-rezervasyonlar">
                <h2>Bekleyen Rezervasyonlar</h2>
            </div>
            <!--
            Could have open it later
            <div class="wallet-summary">
                <div class="wallet-title">Cüzdan</div>
                <div class="wallet-balance-row">
                    <span class="wallet-label">Mevcut Bakiye</span>
                    <span class="wallet-amount">{{ request.user.profile.wallet_balance }} TL</span>
                </div>
            </div>
            -->
            <div class="ana-div">
                {% for reservation, time_interval,date in payment_reservations %}
                    <div id="payment_reservation" class="payment-reservation"
                         data-reservation-pk="{{ reservation.pk }}"
                         data-remaining-cost="{{ reservation.remaining_cost }}"
                         data-total-cost="{{ reservation.total_cost }}"
                         data-ower-count="{{ reservation.ower_players.count }}">
                        <div class="reservation-header">
                            <div class="header-right">
                                <div class="cost-badge">
                                    <span class="badge-title"
                                          title="{{ reservation.reserved_field.name }}">{{ reservation.reserved_field.name }}</span>
                                    <span class="badge-sep">•</span>
                                    <span class="badge-time">{{ time_interval }}</span>
                                    <span class="badge-sep">/</span>
                                    <span class="badge-date">{{ date }}</span>
                                    <span class="badge-sep">|</span>
                                    <span class="badge-amount"><span
                                            class="remain">{{ reservation.remaining_cost }}</span>/<span
                                            class="total">{{ reservation.total_cost }}</span> TL</span>
                                </div>
                            </div>
                        </div>
                        <div id="test" class="ikinci-div">
                            <h3>Ödeme Bekleyenler</h3>
                            <div class="slider">
                                <div class="slides">
                                    <div class="slide">
                                        {% for ower_player in reservation.ower_players.all %}
                                            <div class="player-item" data-player_pk="{{ ower_player.pk }}"
                                                 onclick="toggleSelection(this)">
                                                <img src="{{ ower_player.profile_picture.url }}"
                                                     alt="{{ ower_player.user.username }}">
                                                <span class="player-name">{{ ower_player.user.username }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="selection-counter">
                            <div class="counter-left">
                                <span class="selectedCount">0</span> Kişi Seçildi
                            </div>
                            <div class="counter-right">
                                <span>Toplam Ödeme: <strong class="selectedTotal">0</strong> TL</span>
                            </div>
                            <div class="counter-payment">
                                <button class="payment-button">Ödeme Yap</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="popup" id="editPopup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <div class="popup-left">
                <div class="search-container">
                    <form id="playerSearchForm">
                        <img src="{% static 'images/search.png' %}" alt="Search">
                        <input type="text" name="username" placeholder="Kullanıcı Adı ile Oyuncu Ekle...">
                        <button type="submit">Ekle</button>
                    </form>
                </div>

                <div class="player-cards">
                    {% for player,position in player_position_zip %}
                        {% if position.top == "-1" or position.left == "-1" %}
                            <div class="player-card" draggable="true" data-id="{{ player.id }}">
                                <img src="{{ player.profile_picture.url }}" alt="Kapkap">
                                <p>{{ player.user.username }}</p>
                                <div class="color-buttons">
                                    <button onclick="changeColor(this, 'red')" class="color-button red"></button>
                                    <button onclick="changeColor(this, 'blue')" class="color-button blue"></button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="layout" class="popup-right" ondragover="allowDrop(event)" ondrop="drop(event)"
                 data-bg-image="{% static 'images/acikksaha.png' %}">
                {% for player,position in player_position_zip %}
                    {% if position.top != '-1' and position.left != '-1' %}
                        <div class="player-card" draggable="true" data-id="{{ player.id }}"
                             style="position: absolute; left: {{ position.left }}px; top: {{ position.top }}px;">
                            <img src="{{ player.profile_picture.url }}" alt="{{ player.user.username }}"
                                 style="border-color: {{ position.color|default:'red' }}">
                            <p>{{ player.user.username }}</p>
                            <div class="color-buttons">
                                <button onclick="changeColor(this, 'red')" class="color-button red"></button>
                                <button onclick="changeColor(this, 'blue')" class="color-button blue"></button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="button-container">
                <button class="reset-button" onclick="resetPositions()">Sıfırla</button>
                <button class="save-button" onclick="savePositions()">Görüntüyü Kaydet</button>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block extraJS %}
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    <script src="{% static 'js/team/team_main.js' %}"></script>
{% endblock %}


